<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h1>Corona Virus Tracker Application</h1>

<div class="jumbotron">
    <h1 class="display-4" th:text="${totalReportedCases}"></h1>
    <p class="lead">Total Cases Reported Today</p>

</div>

<table class="table">
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Case Reported</th>
    </tr>
<tr th:each="locationStat : ${locationStats}">
    <td th:text="${locationStat.state}"></td>
    <td th:text="${locationStat.country}"></td>
    <td th:text="${locationStat.lastTotalCases}"></td>
</tr>
</table>
</div>
</body>

</html>